In [17]:
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import csv

In [18]:
os.chdir("C:\\Users\\asif\\Documents\\Trajectory data\\179\\Trajectory")
filelist = glob.glob("*.*")
print (len(filelist))

71

In [19]:
for filename in filelist:
    #print filename
    pass

In [20]:
filename = filelist[1]
print (filename)

20080821082136.plt

In [21]:
user_cols = ['lat','long','tep','ht','altitude','date','time']

In [22]:
trajectory = pd.read_table(filename,skiprows=6, sep=',', names=user_cols)

In [23]:
trajectory.dtypes # statement used to check the datatypes of columns in the dataframe
trajectory.shape

(2568, 7)

In [24]:
trajectory["date_time"] = pd.to_datetime(trajectory["date"] + " " +trajectory["time"])

In [25]:
trajectory.dtypes

lat                 float64
long                float64
tep                   int64
ht                    int64
altitude            float64
date                 object
time                 object
date_time    datetime64[ns]
dtype: object

In [26]:
trajectory

,lat,long,tep,ht,altitude,date,time,date_time
0,40.087216,116.305832,0,147,39681.348333,2008-08-21,08:21:36,2008-08-21 08:21:36
1,40.087191,116.305926,0,119,39681.348356,2008-08-21,08:21:38,2008-08-21 08:21:38
2,40.087179,116.306002,0,110,39681.348380,2008-08-21,08:21:40,2008-08-21 08:21:40
3,40.087160,116.306027,0,110,39681.348403,2008-08-21,08:21:42,2008-08-21 08:21:42
4,40.087121,116.306017,0,108,39681.348426,2008-08-21,08:21:44,2008-08-21 08:21:44
5,40.087101,116.306031,0,107,39681.348449,2008-08-21,08:21:46,2008-08-21 08:21:46
6,40.087077,116.306042,0,109,39681.348472,2008-08-21,08:21:48,2008-08-21 08:21:48
7,40.087056,116.306055,0,109,39681.348495,2008-08-21,08:21:50,2008-08-21 08:21:50
8,40.087040,116.306063,0,111,39681.348519,2008-08-21,08:21:52,2008-08-21 08:21:52
9,40.087018,116.306064,0,113,39681.348542,2008-08-21,08:21:54,2008-08-21 08:21:54
10,40.087000,116.306082,0,115,39681.348565,2008-08-21,08:21:56,2008-08-21 08:21:56
11,40.086973,116.306099,0,113,39681.348588,2008-08-21,08:21:58,2008-08-21 08:21:58
12,40.086954,116.306114,0,113,39681.348611,2008-08-21,08:22:00,2008-08-21 08:22:00
13,40.086939,116.306152,0,113,39681.348634,2008-08-21,08:22:02,2008-08-21 08:22:02
14,40.086940,116.306183,0,115,39681.348657,2008-08-21,08:22:04,2008-08-21 08:22:04
15,40.086936,116.306209,0,116,39681.348681,2008-08-21,08:22:06,2008-08-21 08:22:06
16,40.086931,116.306244,0,117,39681.348704,2008-08-21,08:22:08,2008-08-21 08:22:08
17,40.086926,116.306282,0,117,39681.348727,2008-08-21,08:22:10,2008-08-21 08:22:10
18,40.086930,116.306312,0,118,39681.348750,2008-08-21,08:22:12,2008-08-21 08:22:12
19,40.086922,116.306350,0,118,39681.348773,2008-08-21,08:22:14,2008-08-21 08:22:14
20,40.086922,116.306380,0,119,39681.348796,2008-08-21,08:22:16,2008-08-21 08:22:16
21,40.086909,116.306414,0,119,39681.348819,2008-08-21,08:22:18,2008-08-21 08:22:18
22,40.086912,116.306438,0,119,39681.348843,2008-08-21,08:22:20,2008-08-21 08:22:20
23,40.086912,116.306469,0,121,39681.348866,2008-08-21,08:22:22,2008-08-21 08:22:22
24,40.087145,116.306638,0,130,39681.350139,2008-08-21,08:24:12,2008-08-21 08:24:12
25,40.087149,116.306651,0,130,39681.350162,2008-08-21,08:24:14,2008-08-21 08:24:14
26,40.087149,116.306659,0,130,39681.350185,2008-08-21,08:24:16,2008-08-21 08:24:16
27,40.087149,116.306676,0,130,39681.350208,2008-08-21,08:24:18,2008-08-21 08:24:18
28,40.087101,116.306672,0,135,39681.350231,2008-08-21,08:24:20,2008-08-21 08:24:20
29,40.087063,116.306706,0,140,39681.350255,2008-08-21,08:24:22,2008-08-21 08:24:22
...,...,...,...,...,...,...,...,...
2538,39.951190,116.328468,0,75,39681.449363,2008-08-21,10:47:05,2008-08-21 10:47:05
2539,39.951186,116.328360,0,79,39681.449387,2008-08-21,10:47:07,2008-08-21 10:47:07
2540,39.951204,116.328224,0,87,39681.449433,2008-08-21,10:47:11,2008-08-21 10:47:11
2541,39.951211,116.328206,0,90,39681.449456,2008-08-21,10:47:13,2008-08-21 10:47:13
2542,39.951211,116.328206,0,90,39681.449479,2008-08-21,10:47:15,2008-08-21 10:47:15
2543,39.951218,116.328208,0,98,39681.449502,2008-08-21,10:47:17,2008-08-21 10:47:17
2544,39.951211,116.328185,0,103,39681.449525,2008-08-21,10:47:19,2008-08-21 10:47:19
2545,39.951207,116.328168,0,110,39681.449549,2008-08-21,10:47:21,2008-08-21 10:47:21
2546,39.951203,116.328157,0,115,39681.449572,2008-08-21,10:47:23,2008-08-21 10:47:23
2547,39.951206,116.328141,0,126,39681.449595,2008-08-21,10:47:25,2008-08-21 10:47:25
2548,39.951217,116.328117,0,137,39681.449618,2008-08-21,10:47:27,2008-08-21 10:47:27
2549,39.951222,116.328100,0,147,39681.449641,2008-08-21,10:47:29,2008-08-21 10:47:29
2550,39.951221,116.328093,0,161,39681.449664,2008-08-21,10:47:31,2008-08-21 10:47:31
2551,39.951220,116.328093,0,173,39681.449687,2008-08-21,10:47:33,2008-08-21 10:47:33
2552,39.951223,116.328101,0,179,39681.449711,2008-08-21,10:47:35,2008-08-21 10:47:35
2553,39.951236,116.328115,0,181,39681.449734,2008-08-21,10:47:37,2008-08-21 10:47:37
2554,39.951255,116.328138,0,182,39681.449757,2008-08-21,10:47:39,2008-08-21 10:47:39
2555,39.951284,116.328116,0,171,39681.449780,2008-08-21,10:47:41,2008-08-21 10:47:41
2556,39.951309,116.328143,0,173,39681.449803,2008-08-21,10:47:43,2008-08-21 10:47:43
2557,39.951259,116.328184,0,185,39681.449873,2008-08-21,10:47:49,2008-08-21 10:47:49
2558,39.951238,116.328188,0,174,39681.449896,2008-08-21,10:47:51,2008-08-21 10:47:51
2559,39.951229,116.328202,0,168,39681.449919,2008-08-21,10:47:53,2008-08-21 10:47:53
2560,39.951191,116.328237,0,150,39681.449965,2008-08-21,10:47:57,2008-08-21 10:47:57
2561,39.951167,116.328236,0,142,39681.449988,2008-08-21,10:47:59,2008-08-21 10:47:59
2562,39.951160,116.328235,0,134,39681.450012,2008-08-21,10:48:01,2008-08-21 10:48:01
2563,39.951148,116.328236,0,127,39681.450035,2008-08-21,10:48:03,2008-08-21 10:48:03
2564,39.951119,116.328278,0,128,39681.450081,2008-08-21,10:48:07,2008-08-21 10:48:07
2565,39.951108,116.328290,0,134,39681.450104,2008-08-21,10:48:09,2008-08-21 10:48:09
2566,39.951100,116.328295,0,138,39681.450127,2008-08-21,10:48:11,2008-08-21 10:48:11
2567,39.951122,116.327156,0,272,39681.451111,2008-08-21,10:49:36,2008-08-21 10:49:36

In [27]:
path = "C:\\Users\\asif\\Documents\\Trajectory data\\179\\labels.txt"

In [28]:
label_data = pd.read_table(path)

In [29]:
label_data.shape

(319, 3)

In [30]:
type(label_data)

pandas.core.frame.DataFrame

In [31]:
label_data.dtypes

Start Time             object
End Time               object
Transportation Mode    object
dtype: object

In [32]:
label_data["Start Time"] = pd.to_datetime(label_data["Start Time"])
label_data["End Time"] = pd.to_datetime(label_data["End Time"])
label_data.dtypes

Start Time             datetime64[ns]
End Time               datetime64[ns]
Transportation Mode            object
dtype: object

In [33]:
label_data.columns
label_data.rename(columns={'Start Time':'Start_Time','End Time':'End_Time','Transportation Mode':'Transportation_Mode'}, inplace=True)
label_data.columns

Index(['Start_Time', 'End_Time', 'Transportation_Mode'], dtype='object')

In [34]:
label_data

             Start_Time            End_Time Transportation_Mode
0   2008-08-20 12:09:17 2008-08-20 12:45:05                walk
1   2008-08-20 12:45:05 2008-08-20 13:00:25              subway
2   2008-08-20 13:00:25 2008-08-20 13:07:25                walk
3   2008-08-20 13:07:25 2008-08-20 13:12:59                 bus
4   2008-08-20 13:13:59 2008-08-20 13:24:23                walk
5   2008-08-21 08:21:38 2008-08-21 08:24:16                walk
6   2008-08-21 08:24:16 2008-08-21 08:33:46                 bus
7   2008-08-21 08:33:46 2008-08-21 08:49:04                walk
8   2008-08-21 09:02:08 2008-08-21 09:13:06                 bus
9   2008-08-21 09:13:06 2008-08-21 09:16:00                walk
10  2008-08-21 09:16:00 2008-08-21 09:52:06                 bus
11  2008-08-21 09:52:06 2008-08-21 10:01:54                walk
12  2008-08-21 10:01:54 2008-08-21 10:08:54                 bus
13  2008-08-21 10:08:54 2008-08-21 10:25:52                walk
14  2008-08-21 10:25:52 2008-08-21 11:19:32                 bus
15  2008-08-21 10:25:52 2008-08-21 11:19:34                 bus
16  2008-08-21 11:19:34 2008-08-21 12:17:37                walk
17  2008-08-21 12:17:37 2008-08-21 12:22:37                bike
18  2008-08-21 12:22:37 2008-08-21 12:23:45                walk
19  2008-08-22 03:34:36 2008-08-22 03:47:04                walk
20  2008-08-22 03:47:04 2008-08-22 03:56:32                 bus
21  2008-08-22 03:56:32 2008-08-22 04:04:02                walk
22  2008-08-22 04:04:02 2008-08-22 04:19:28              subway
23  2008-08-22 04:19:28 2008-08-22 06:05:50                walk
24  2008-08-22 06:05:50 2008-08-22 07:13:04                 bus
25  2008-08-22 07:13:04 2008-08-22 07:16:42                walk
26  2008-08-23 01:28:29 2008-08-23 01:40:41                walk
27  2008-08-23 01:40:41 2008-08-23 01:47:25                 bus
28  2008-08-23 01:47:25 2008-08-23 01:50:33                walk
29  2008-08-23 01:50:33 2008-08-23 02:25:07                 bus
..                  ...                 ...                 ...
289 2008-11-15 01:57:39 2008-11-15 02:02:09                walk
290 2008-11-15 02:02:09 2008-11-15 02:09:13                 bus
291 2008-11-15 02:09:13 2008-11-15 02:15:31                walk
292 2008-11-15 02:15:31 2008-11-15 03:10:09                 bus
293 2008-11-15 03:10:09 2008-11-15 03:11:43                walk
294 2008-11-15 03:11:43 2008-11-15 03:41:11                bike
295 2008-11-15 10:56:53 2008-11-15 11:37:47                bike
296 2008-11-15 12:55:19 2008-11-15 13:17:17                 bus
297 2008-11-15 13:17:17 2008-11-15 13:22:39                walk
298 2008-11-15 13:22:39 2008-11-15 13:35:57              subway
299 2008-11-15 13:35:57 2008-11-15 13:37:21                walk
300 2008-11-15 13:37:21 2008-11-15 13:56:11                bike
301 2008-11-16 06:51:53 2008-11-16 07:00:39                bike
302 2008-11-16 07:00:39 2008-11-16 07:03:04                walk
303 2008-11-16 07:03:04 2008-11-16 07:17:30              subway
304 2008-11-16 07:17:30 2008-11-16 07:33:46                walk
305 2008-11-16 07:33:46 2008-11-16 07:40:25                 bus
306 2008-11-16 07:40:25 2008-11-16 07:51:13                walk
307 2008-11-17 02:55:01 2008-11-17 03:03:29                walk
308 2008-11-17 03:03:29 2008-11-17 03:16:27                 bus
309 2008-11-17 03:16:27 2008-11-17 03:22:51                walk
310 2008-11-17 03:22:51 2008-11-17 03:40:23              subway
311 2008-11-17 05:53:24 2008-11-17 06:30:48                walk
312 2008-11-17 06:36:56 2008-11-17 06:52:20              subway
313 2008-11-17 06:52:20 2008-11-17 06:59:58                walk
314 2008-11-17 06:59:58 2008-11-17 07:06:16                 bus
315 2008-11-17 07:06:16 2008-11-17 07:14:32                walk
316 2008-11-29 01:58:05 2008-11-29 02:01:39                 bus
317 2008-11-29 02:01:39 2008-11-29 02:07:57                walk
318 2008-11-29 02:07:57 2008-11-29 02:43:37              subway

[319 rows x 3 columns]

In [35]:
start = pd.merge_asof(trajectory, label_data, left_on='date_time', right_on='Start_Time')
transportation_mode = start['Transportation_Mode'].loc[(start['Start_Time'] < start['date_time']) & (start['date_time'] < start['End_Time'])]
trajectory = pd.concat((trajectory, transportation_mode), axis=1)

In [38]:
start.dtypes

lat                           float64
long                          float64
tep                             int64
ht                              int64
altitude                      float64
date                           object
time                           object
date_time              datetime64[ns]
Start_Time             datetime64[ns]
End_Time               datetime64[ns]
Transportation_Mode            object
dtype: object

In [40]:
print (label_data)

             Start_Time            End_Time Transportation_Mode
0   2008-08-20 12:09:17 2008-08-20 12:45:05                walk
1   2008-08-20 12:45:05 2008-08-20 13:00:25              subway
2   2008-08-20 13:00:25 2008-08-20 13:07:25                walk
3   2008-08-20 13:07:25 2008-08-20 13:12:59                 bus
4   2008-08-20 13:13:59 2008-08-20 13:24:23                walk
5   2008-08-21 08:21:38 2008-08-21 08:24:16                walk
6   2008-08-21 08:24:16 2008-08-21 08:33:46                 bus
7   2008-08-21 08:33:46 2008-08-21 08:49:04                walk
8   2008-08-21 09:02:08 2008-08-21 09:13:06                 bus
9   2008-08-21 09:13:06 2008-08-21 09:16:00                walk
10  2008-08-21 09:16:00 2008-08-21 09:52:06                 bus
11  2008-08-21 09:52:06 2008-08-21 10:01:54                walk
12  2008-08-21 10:01:54 2008-08-21 10:08:54                 bus
13  2008-08-21 10:08:54 2008-08-21 10:25:52                walk
14  2008-08-21 10:25:52 2008-08-21 11:19:32                 bus
15  2008-08-21 10:25:52 2008-08-21 11:19:34                 bus
16  2008-08-21 11:19:34 2008-08-21 12:17:37                walk
17  2008-08-21 12:17:37 2008-08-21 12:22:37                bike
18  2008-08-21 12:22:37 2008-08-21 12:23:45                walk
19  2008-08-22 03:34:36 2008-08-22 03:47:04                walk
20  2008-08-22 03:47:04 2008-08-22 03:56:32                 bus
21  2008-08-22 03:56:32 2008-08-22 04:04:02                walk
22  2008-08-22 04:04:02 2008-08-22 04:19:28              subway
23  2008-08-22 04:19:28 2008-08-22 06:05:50                walk
24  2008-08-22 06:05:50 2008-08-22 07:13:04                 bus
25  2008-08-22 07:13:04 2008-08-22 07:16:42                walk
26  2008-08-23 01:28:29 2008-08-23 01:40:41                walk
27  2008-08-23 01:40:41 2008-08-23 01:47:25                 bus
28  2008-08-23 01:47:25 2008-08-23 01:50:33                walk
29  2008-08-23 01:50:33 2008-08-23 02:25:07                 bus
..                  ...                 ...                 ...
289 2008-11-15 01:57:39 2008-11-15 02:02:09                walk
290 2008-11-15 02:02:09 2008-11-15 02:09:13                 bus
291 2008-11-15 02:09:13 2008-11-15 02:15:31                walk
292 2008-11-15 02:15:31 2008-11-15 03:10:09                 bus
293 2008-11-15 03:10:09 2008-11-15 03:11:43                walk
294 2008-11-15 03:11:43 2008-11-15 03:41:11                bike
295 2008-11-15 10:56:53 2008-11-15 11:37:47                bike
296 2008-11-15 12:55:19 2008-11-15 13:17:17                 bus
297 2008-11-15 13:17:17 2008-11-15 13:22:39                walk
298 2008-11-15 13:22:39 2008-11-15 13:35:57              subway
299 2008-11-15 13:35:57 2008-11-15 13:37:21                walk
300 2008-11-15 13:37:21 2008-11-15 13:56:11                bike
301 2008-11-16 06:51:53 2008-11-16 07:00:39                bike
302 2008-11-16 07:00:39 2008-11-16 07:03:04                walk
303 2008-11-16 07:03:04 2008-11-16 07:17:30              subway
304 2008-11-16 07:17:30 2008-11-16 07:33:46                walk
305 2008-11-16 07:33:46 2008-11-16 07:40:25                 bus
306 2008-11-16 07:40:25 2008-11-16 07:51:13                walk
307 2008-11-17 02:55:01 2008-11-17 03:03:29                walk
308 2008-11-17 03:03:29 2008-11-17 03:16:27                 bus
309 2008-11-17 03:16:27 2008-11-17 03:22:51                walk
310 2008-11-17 03:22:51 2008-11-17 03:40:23              subway
311 2008-11-17 05:53:24 2008-11-17 06:30:48                walk
312 2008-11-17 06:36:56 2008-11-17 06:52:20              subway
313 2008-11-17 06:52:20 2008-11-17 06:59:58                walk
314 2008-11-17 06:59:58 2008-11-17 07:06:16                 bus
315 2008-11-17 07:06:16 2008-11-17 07:14:32                walk
316 2008-11-29 01:58:05 2008-11-29 02:01:39                 bus
317 2008-11-29 02:01:39 2008-11-29 02:07:57                walk
318 2008-11-29 02:07:57 2008-11-29 02:43:37              subway

[319 rows x 3 columns]

In [41]:
trajectory.columns

Index(['lat', 'long', 'tep', 'ht', 'altitude', 'date', 'time', 'date_time',
       'Transportation_Mode'],
      dtype='object')

In [42]:
df = trajectory[['lat','long','date_time','Transportation_Mode']]

In [44]:
print (df)

            lat        long           date_time Transportation_Mode
0     40.087216  116.305832 2008-08-21 08:21:36                 NaN
1     40.087191  116.305926 2008-08-21 08:21:38                 NaN
2     40.087179  116.306002 2008-08-21 08:21:40                walk
3     40.087160  116.306027 2008-08-21 08:21:42                walk
4     40.087121  116.306017 2008-08-21 08:21:44                walk
5     40.087101  116.306031 2008-08-21 08:21:46                walk
6     40.087077  116.306042 2008-08-21 08:21:48                walk
7     40.087056  116.306055 2008-08-21 08:21:50                walk
8     40.087040  116.306063 2008-08-21 08:21:52                walk
9     40.087018  116.306064 2008-08-21 08:21:54                walk
10    40.087000  116.306082 2008-08-21 08:21:56                walk
11    40.086973  116.306099 2008-08-21 08:21:58                walk
12    40.086954  116.306114 2008-08-21 08:22:00                walk
13    40.086939  116.306152 2008-08-21 08:22:02                walk
14    40.086940  116.306183 2008-08-21 08:22:04                walk
15    40.086936  116.306209 2008-08-21 08:22:06                walk
16    40.086931  116.306244 2008-08-21 08:22:08                walk
17    40.086926  116.306282 2008-08-21 08:22:10                walk
18    40.086930  116.306312 2008-08-21 08:22:12                walk
19    40.086922  116.306350 2008-08-21 08:22:14                walk
20    40.086922  116.306380 2008-08-21 08:22:16                walk
21    40.086909  116.306414 2008-08-21 08:22:18                walk
22    40.086912  116.306438 2008-08-21 08:22:20                walk
23    40.086912  116.306469 2008-08-21 08:22:22                walk
24    40.087145  116.306638 2008-08-21 08:24:12                walk
25    40.087149  116.306651 2008-08-21 08:24:14                walk
26    40.087149  116.306659 2008-08-21 08:24:16                 NaN
27    40.087149  116.306676 2008-08-21 08:24:18                 bus
28    40.087101  116.306672 2008-08-21 08:24:20                 bus
29    40.087063  116.306706 2008-08-21 08:24:22                 bus
...         ...         ...                 ...                 ...
2538  39.951190  116.328468 2008-08-21 10:47:05                 bus
2539  39.951186  116.328360 2008-08-21 10:47:07                 bus
2540  39.951204  116.328224 2008-08-21 10:47:11                 bus
2541  39.951211  116.328206 2008-08-21 10:47:13                 bus
2542  39.951211  116.328206 2008-08-21 10:47:15                 bus
2543  39.951218  116.328208 2008-08-21 10:47:17                 bus
2544  39.951211  116.328185 2008-08-21 10:47:19                 bus
2545  39.951207  116.328168 2008-08-21 10:47:21                 bus
2546  39.951203  116.328157 2008-08-21 10:47:23                 bus
2547  39.951206  116.328141 2008-08-21 10:47:25                 bus
2548  39.951217  116.328117 2008-08-21 10:47:27                 bus
2549  39.951222  116.328100 2008-08-21 10:47:29                 bus
2550  39.951221  116.328093 2008-08-21 10:47:31                 bus
2551  39.951220  116.328093 2008-08-21 10:47:33                 bus
2552  39.951223  116.328101 2008-08-21 10:47:35                 bus
2553  39.951236  116.328115 2008-08-21 10:47:37                 bus
2554  39.951255  116.328138 2008-08-21 10:47:39                 bus
2555  39.951284  116.328116 2008-08-21 10:47:41                 bus
2556  39.951309  116.328143 2008-08-21 10:47:43                 bus
2557  39.951259  116.328184 2008-08-21 10:47:49                 bus
2558  39.951238  116.328188 2008-08-21 10:47:51                 bus
2559  39.951229  116.328202 2008-08-21 10:47:53                 bus
2560  39.951191  116.328237 2008-08-21 10:47:57                 bus
2561  39.951167  116.328236 2008-08-21 10:47:59                 bus
2562  39.951160  116.328235 2008-08-21 10:48:01                 bus
2563  39.951148  116.328236 2008-08-21 10:48:03                 bus
2564  39.951119  116.328278 2008-08-21 10:48:07                 bus
2565  39.951108  116.328290 2008-08-21 10:48:09                 bus
2566  39.951100  116.328295 2008-08-21 10:48:11                 bus
2567  39.951122  116.327156 2008-08-21 10:49:36                 bus

[2568 rows x 4 columns]

In [51]:
print (df[df['Transportation_Mode']=='walk'])

            lat        long           date_time Transportation_Mode
2     40.087179  116.306002 2008-08-21 08:21:40                walk
3     40.087160  116.306027 2008-08-21 08:21:42                walk
4     40.087121  116.306017 2008-08-21 08:21:44                walk
5     40.087101  116.306031 2008-08-21 08:21:46                walk
6     40.087077  116.306042 2008-08-21 08:21:48                walk
7     40.087056  116.306055 2008-08-21 08:21:50                walk
8     40.087040  116.306063 2008-08-21 08:21:52                walk
9     40.087018  116.306064 2008-08-21 08:21:54                walk
10    40.087000  116.306082 2008-08-21 08:21:56                walk
11    40.086973  116.306099 2008-08-21 08:21:58                walk
12    40.086954  116.306114 2008-08-21 08:22:00                walk
13    40.086939  116.306152 2008-08-21 08:22:02                walk
14    40.086940  116.306183 2008-08-21 08:22:04                walk
15    40.086936  116.306209 2008-08-21 08:22:06                walk
16    40.086931  116.306244 2008-08-21 08:22:08                walk
17    40.086926  116.306282 2008-08-21 08:22:10                walk
18    40.086930  116.306312 2008-08-21 08:22:12                walk
19    40.086922  116.306350 2008-08-21 08:22:14                walk
20    40.086922  116.306380 2008-08-21 08:22:16                walk
21    40.086909  116.306414 2008-08-21 08:22:18                walk
22    40.086912  116.306438 2008-08-21 08:22:20                walk
23    40.086912  116.306469 2008-08-21 08:22:22                walk
24    40.087145  116.306638 2008-08-21 08:24:12                walk
25    40.087149  116.306651 2008-08-21 08:24:14                walk
310   40.087540  116.314766 2008-08-21 08:37:34                walk
311   40.087526  116.314747 2008-08-21 08:37:36                walk
312   40.087509  116.314726 2008-08-21 08:37:38                walk
313   40.087497  116.314714 2008-08-21 08:37:40                walk
314   40.087477  116.314719 2008-08-21 08:37:42                walk
315   40.087456  116.314727 2008-08-21 08:37:44                walk
...         ...         ...                 ...                 ...
2434  39.991355  116.327138 2008-08-21 10:24:52                walk
2435  39.991338  116.327165 2008-08-21 10:24:54                walk
2436  39.991331  116.327180 2008-08-21 10:24:56                walk
2437  39.991330  116.327181 2008-08-21 10:24:58                walk
2438  39.991328  116.327183 2008-08-21 10:25:00                walk
2439  39.991324  116.327186 2008-08-21 10:25:02                walk
2440  39.991322  116.327188 2008-08-21 10:25:04                walk
2441  39.991322  116.327189 2008-08-21 10:25:06                walk
2442  39.991326  116.327186 2008-08-21 10:25:08                walk
2443  39.991328  116.327197 2008-08-21 10:25:10                walk
2444  39.991370  116.327317 2008-08-21 10:25:12                walk
2445  39.991388  116.327325 2008-08-21 10:25:14                walk
2446  39.991408  116.327357 2008-08-21 10:25:16                walk
2447  39.991407  116.327374 2008-08-21 10:25:18                walk
2448  39.991405  116.327375 2008-08-21 10:25:20                walk
2449  39.991407  116.327385 2008-08-21 10:25:22                walk
2450  39.991405  116.327394 2008-08-21 10:25:24                walk
2451  39.991402  116.327403 2008-08-21 10:25:26                walk
2452  39.991400  116.327409 2008-08-21 10:25:28                walk
2453  39.991447  116.327489 2008-08-21 10:25:30                walk
2454  39.991445  116.327491 2008-08-21 10:25:32                walk
2455  39.991445  116.327491 2008-08-21 10:25:34                walk
2456  39.991446  116.327489 2008-08-21 10:25:36                walk
2457  39.991449  116.327487 2008-08-21 10:25:38                walk
2458  39.991452  116.327487 2008-08-21 10:25:40                walk
2459  39.991455  116.327487 2008-08-21 10:25:42                walk
2460  39.991460  116.327473 2008-08-21 10:25:44                walk
2461  39.991462  116.327472 2008-08-21 10:25:46                walk
2462  39.991464  116.327470 2008-08-21 10:25:48                walk
2463  39.991460  116.327465 2008-08-21 10:25:50                walk

[639 rows x 4 columns]

In [52]:
print (df)

            lat        long           date_time Transportation_Mode
0     40.087216  116.305832 2008-08-21 08:21:36                 NaN
1     40.087191  116.305926 2008-08-21 08:21:38                 NaN
2     40.087179  116.306002 2008-08-21 08:21:40                walk
3     40.087160  116.306027 2008-08-21 08:21:42                walk
4     40.087121  116.306017 2008-08-21 08:21:44                walk
5     40.087101  116.306031 2008-08-21 08:21:46                walk
6     40.087077  116.306042 2008-08-21 08:21:48                walk
7     40.087056  116.306055 2008-08-21 08:21:50                walk
8     40.087040  116.306063 2008-08-21 08:21:52                walk
9     40.087018  116.306064 2008-08-21 08:21:54                walk
10    40.087000  116.306082 2008-08-21 08:21:56                walk
11    40.086973  116.306099 2008-08-21 08:21:58                walk
12    40.086954  116.306114 2008-08-21 08:22:00                walk
13    40.086939  116.306152 2008-08-21 08:22:02                walk
14    40.086940  116.306183 2008-08-21 08:22:04                walk
15    40.086936  116.306209 2008-08-21 08:22:06                walk
16    40.086931  116.306244 2008-08-21 08:22:08                walk
17    40.086926  116.306282 2008-08-21 08:22:10                walk
18    40.086930  116.306312 2008-08-21 08:22:12                walk
19    40.086922  116.306350 2008-08-21 08:22:14                walk
20    40.086922  116.306380 2008-08-21 08:22:16                walk
21    40.086909  116.306414 2008-08-21 08:22:18                walk
22    40.086912  116.306438 2008-08-21 08:22:20                walk
23    40.086912  116.306469 2008-08-21 08:22:22                walk
24    40.087145  116.306638 2008-08-21 08:24:12                walk
25    40.087149  116.306651 2008-08-21 08:24:14                walk
26    40.087149  116.306659 2008-08-21 08:24:16                 NaN
27    40.087149  116.306676 2008-08-21 08:24:18                 bus
28    40.087101  116.306672 2008-08-21 08:24:20                 bus
29    40.087063  116.306706 2008-08-21 08:24:22                 bus
...         ...         ...                 ...                 ...
2538  39.951190  116.328468 2008-08-21 10:47:05                 bus
2539  39.951186  116.328360 2008-08-21 10:47:07                 bus
2540  39.951204  116.328224 2008-08-21 10:47:11                 bus
2541  39.951211  116.328206 2008-08-21 10:47:13                 bus
2542  39.951211  116.328206 2008-08-21 10:47:15                 bus
2543  39.951218  116.328208 2008-08-21 10:47:17                 bus
2544  39.951211  116.328185 2008-08-21 10:47:19                 bus
2545  39.951207  116.328168 2008-08-21 10:47:21                 bus
2546  39.951203  116.328157 2008-08-21 10:47:23                 bus
2547  39.951206  116.328141 2008-08-21 10:47:25                 bus
2548  39.951217  116.328117 2008-08-21 10:47:27                 bus
2549  39.951222  116.328100 2008-08-21 10:47:29                 bus
2550  39.951221  116.328093 2008-08-21 10:47:31                 bus
2551  39.951220  116.328093 2008-08-21 10:47:33                 bus
2552  39.951223  116.328101 2008-08-21 10:47:35                 bus
2553  39.951236  116.328115 2008-08-21 10:47:37                 bus
2554  39.951255  116.328138 2008-08-21 10:47:39                 bus
2555  39.951284  116.328116 2008-08-21 10:47:41                 bus
2556  39.951309  116.328143 2008-08-21 10:47:43                 bus
2557  39.951259  116.328184 2008-08-21 10:47:49                 bus
2558  39.951238  116.328188 2008-08-21 10:47:51                 bus
2559  39.951229  116.328202 2008-08-21 10:47:53                 bus
2560  39.951191  116.328237 2008-08-21 10:47:57                 bus
2561  39.951167  116.328236 2008-08-21 10:47:59                 bus
2562  39.951160  116.328235 2008-08-21 10:48:01                 bus
2563  39.951148  116.328236 2008-08-21 10:48:03                 bus
2564  39.951119  116.328278 2008-08-21 10:48:07                 bus
2565  39.951108  116.328290 2008-08-21 10:48:09                 bus
2566  39.951100  116.328295 2008-08-21 10:48:11                 bus
2567  39.951122  116.327156 2008-08-21 10:49:36                 bus

[2568 rows x 4 columns]